<div class="box">
  <h2 class="title">Forgot your password?</h2>
  <hr />
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= flash_messages %>  
    <%= devise_error_messages! %>

    <div>
      <p><%= f.label :login %><br />
      <%= f.text_field :login, :class => "title" %></p>

      <p><%= f.submit "Send me reset password instructions" %></p>
    </div>
    <hr />
    <%= render :partial => "devise/shared/links" %>
  <% end %>
</div>