<% javascript 'jquery/jquery.validations', 'registrations/new' %>
<div class="box center">
  <h2 class="title">Sign up</h2>
  <hr />
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= flash_messages %>
    <%= devise_error_messages! %>

    <fieldset>
      <legend class="subtitle">Organization</legend>
      <div>
        <p><label for="subdomain_name">Name</label><br />
        <input type="text" name="subdomain[name]" id="subdomain_name" class="title required">
        <span class="validation-message"></span></p>
        <p class="form-explanation">Your organization name (eg. Acme Inc.)</p>

        <p><label for="subdomain_tld">Subdomain</label><br />
        <input type="text" name="subdomain[tld]" id="subdomain_tld" class="title required unique" autocomplete="off">
        <span class="validation-message"></span></p>
        <p id="subdomain-tld" class="form-explanation">https://example.minege.ms</p>
      </div>
    </fieldset>

    <hr />
    <fieldset>
      <legend class="subtitle">Account</legend>
      <div id="sign-up-box">
        <p><label for="user_name">Full name</label><br />
        <%= f.text_field :name, :class => "title required" %>
        <span class="validation-message"></span></p>

        <p><%= f.label :username %><br />
        <%= f.text_field :username, :class => "title required unique" %>
        <span class="validation-message"></span></p>

        <p><%= f.label :email %><br />
        <%= f.text_field :email, :class => "title required email" %>
        <span class="validation-message"></span></p>

        <p><%= f.label :password %><br />
        <%= f.password_field :password, :class => "title required confirmation" %>
        <span class="validation-message"></span></p>

        <p><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, :class => "title required" %>
        <span class="validation-message"></span></p>

        <p>Already signed up with <strong>Mine Gems&trade;</strong>? <a href="" class="sign-in">Use the account you already have</a>.</p>
      </div>

      <div id="sign-in-box">
        <p><%= f.label :email %><br />
        <%= f.text_field :email, :disabled => 'disabled', :class => "title" %></p>

        <p><%= f.label :password %><br />
        <%= f.password_field :password, :disabled => 'disabled', :class => "title" %></p>

        <p>Don't have an account? <a href="" class="sign-up">Sign up</a> with email and password.</p>
      </div>

      <p><input type="hidden" name="signin" id="signin" value="0" />
      <input type="hidden" name="user[remember_me]" id="user_remember_me" value="0" />
      <input name="utf8" type="hidden" value="&#x2713;" id="utf8" />
      </p>
    </fieldset>
    <hr />

    <p class="right"><%= f.submit "Sign up", :class => 'button' %></p>
  <% end %>
</div>