<% javascript 'registrations/new' %>
<div class="prepend-2 span-12 append-2">
  <h2 class="bigger">Sign up</h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <fieldset>
      <legend>Organization</legend>
      <p><label for="subdomain_name">Name</label><br />
      <input type="text" name="subdomain[name]" id="subdomain_name" class="title"></p>

      <p><label for="subdomain_tld">Subdomain</label><br />
      <input type="text" name="subdomain[tld]" id="subdomain_tld" class="title" autocomplete="off"></p>
      <p id="subdomain-tld" class="form-explanation">https://example.gemsmineapp.com</p>
    </fieldset>

    <fieldset>
      <legend>Account</legend>
      <div id="sign-up-box">
        <p><label for="user_name">Full name</label><br />
        <%= f.text_field :name, :class => "title" %></p>

        <p><%= f.label :email %><br />
        <%= f.text_field :email, :class => "title" %></p>

        <p><%= f.label :password %><br />
        <%= f.password_field :password, :class => "title" %></p>

        <p><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, :class => "title" %></p>

        <p>Already use MineGems? <a href="" class="sign-in">Sign in</a> with the account you already have.</p>
      </div>

      <div id="sign-in-box">
        <p><%= f.label :email %><br />
        <%= f.text_field :email, :disabled => 'disabled', :class => "title" %></p>

        <p><%= f.label :password %><br />
        <%= f.password_field :password, :disabled => 'disabled', :class => "title" %></p>

        <p>Don't have an account? <a href="" class="sign-up">Sign up</a> with email and password.</p>
      </div>

      <p><input type="hidden" name="signin" id="signin" value="0" />
      <input type="hidden" name="user[remember_me]" id="user_remember_me" value="0" />
      <input name="utf8" type="hidden" value="&#x2713;" id="utf8" />
      </p>
    </fieldset>

    <p id="signup-button"><%= f.submit "Sign up", :disable_with => "Saving.." %></p>
  <% end %>
  <%= render :partial => "devise/shared/links" %>
</div>