<div id="sign-in" class="box center">
  <div id="title"><h1><%= site_name %></h1></div>
  <hr />
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= flash_messages %>
    <%= devise_error_messages! %>
    <fieldset>
      <div>
        <p><%= f.label :login %><br />
        <%= f.text_field :login, :class => "title big-title" %></p>

        <p><%= f.label :password %><br />
        <%= f.password_field :password, :class => "title big-title" %></p>

        <% if devise_mapping.rememberable? -%>
          <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
        <% end -%>
      </div>
    </fieldset>

    <p><%= f.submit "Sign in", :class => "right" %></p>
    <hr />
    <%= render :partial => "devise/shared/links" %>
  <% end %>
</div>