<!DOCTYPE html>
<html>
<head>
  <title>GemsMine – Private Gems Hosting</title>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="login-container" class="container">
    <div id="content-wrap" class="push-4 span-8">
      <div id="content">
        <%= flash_messages %>
        <%= yield %>
      </div>
    </div>
  </div>
  <%= javascript_include_tag :defaults %>
  <%= yield :javascript %>
</body>
</html>