<!DOCTYPE html>
<html>
<head>
  <title>Mine Gems – Private Gems Hosting</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= google_analytics %>
</head>

<body class="layout-admin <%= page_id %>">
  <div id="container">
    <%= render 'shared/session' %>
    <%= render 'shared/sidebar' %>
    <div id="content">
      <%= flash_messages %>
      <%= yield %>
    </div>
    <hr class="hide" />
    <div id="footer">
      <p>&copy; <a rel="external" href="http://minege.ms">Mine Gems</a></p>
    </div>
  </div>
</body>
</html>