<!DOCTYPE html>
<html>
<head>
  <title>GemsMine – Private Gems Hosting</title>
  <%= stylesheet_link_tag 'blueprint/screen', 'blueprint/typography', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container" class="container">
    <div id="header" class="span-16">
      <div id="logotype" class="span-12">
        <%= image_tag 'logo.png', :size => '154x54' %>
      </div>
      <div id="logo" class="span-4 last">
        menu
      </div>
    </div>
    <div id="content-wrap" class="span-16">
      <div id="content">
        <%= flash_messages %>
        <%= yield %>
      </div>
      <div id="footer">
        Copyright &copy; 2010 <a href="http://sushistarweb.com?rel=gemsmine">Sushistar</a>.<br />
      </div>
    </div>
  </div>
  <%= javascript_include_tag :defaults %>
  <%= yield :javascript %>
</body>
</html>